$success: #67C23A;
$warning: #E6A23C;
$error: #df4545;

$baseFontColor:#595959;
$redFontColor:#df4545;
$grayFontColor:#999999;
$blueFontColor:	#5f84cd;

$grayBorderColor: 1px solid #e6e6e6;
$redBorderColor: 1px solid #df4545;


$blueBgColor: #5f84cd;
$yellowBgColor:#fdf6ec;
$grayBgColor:#ededef;
$greenBgColor:#f0f9eb;
